main {
    background: white; 
    margin: auto;
    margin-top: 0;
    width: 1080px;
    min-height: 700px;
}



#rightMenu {
    background-color: white;
}

#login {
    width: 80%;
    margin: auto;
    align-items: center;
}


#login input {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: 2px solid #fddd9a;
    border-radius: 5px;
}

#login button {
    font-size: 16px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    border: none;
    background-color: #fddd9a;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.4s;
}

#login button:hover {
    background-color: #ffb923;
}

#login .snsLogin button {
    background-color:white;
    border: 1px solid;
}

#login .snsLogin img {
    width: 10%;
}

#login a:hover {
    text-decoration: underline;
}


.hr-sect {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    font-size: 12px;
    margin: 8px 0px;
  }

  
  .hr-sect::before,
  .hr-sect::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 16px;
  }

.category {
    margin: auto;
    width: 1080px;
    overflow: auto;
}


.category li {
 line-height: 3em;   
}

.category a:hover {
    text-decoration: underline;
}


  

.mainSlides {
    width: 100%;
}

.ideasUpload {
    display: flex;
    justify-content: space-between;
    background-color: seashell;
    padding-top: 50px;
    padding-bottom: 0;
    width: 100%;
    padding-left: 20px;
    padding-right: 10px;
}

.ideasimg {
    flex: 1;
    margin-top: 50px;
}

.goUpload {
    flex: 1;
    padding-left: 50px;
    padding-right: 60px;
    padding-bottom: 10px;
}

.goUpload h1 {
    font-size: 50px;
    margin-top: 20px;
}

.goUpload button {
    width: 400px;
    margin: 10px;
    font-size: 20px;
    border: none;
    background-color:  #ffb923;
    padding: 16px 32px;
    text-align: center;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}

.goUpload button:hover {
    background-color: white;
    border: 2px solid black;
}

.ideasPartner {
    text-align: center;
    background-color: cornsilk;
    padding-top: 50px;
    padding-bottom: 0;
    width: 100%;

}


.partnerBox {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 25px;    
    padding-left: 50px;
    padding-right: 50px;
}

.partner {
    display: flex;
}

.partner ul {
    margin: 10px;
    padding: 10px;
    background-color: white;
}

.partner button {
    background-color: #fddd9a;
    border: none;
    margin: 5px;
    cursor: pointer;
}

.partner button:hover {
    background-color: #ffb923;
}

.morePartner {
    width: 300px;
    padding: 15px;
    cursor: pointer;
    border: none;
    font-size: 20px;
    font-weight: bold;
    background-color: #ffb923;
    margin-bottom: 80px;
}

.faq {
    width: 100%;
    margin: auto;
    background-color: white;
    padding: 80px 50px;
}

.faqBox {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;

}

.faq p {
    font-weight: bold;
    color:  black;
}

.faqBox ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 50px;
}

.faqBox li {
    border: 2px solid #ffb923;
    width: 180px;
    padding: 20px;
}

.faqBox li:hover{
    background-color:#ffb923 ;
    color: white;
}


.faqBox a:hover {
    text-decoration: underline;
    font-weight: bold;

}
